.g-heading-v7 h3, .g-heading-v7 .h3{
    color: #fe6466;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}
#workprocess, .g-heading-v7 h3, .g-heading-v7 .h3{
    color: #fe6466;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}
.why-we{
}

.imagemcarrousel {
    width: 128px;!important;
    height: auto;!important;
}
.chess-about-us img{
    width: 20%;
}
.alteraconteudo{
    display: none;
}
.alteratitulo{
    display: none;
}
.why-we-item--light .why-we-item-inner {
    float: right;
    padding: 10px 170px 0px 0px;
}
#Skills h2{
    color: #FFFFFF;
}
#workprocess.g-heading-v7 h2, .g-heading-v7 .h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
}
#workprocess.g-heading-v7 h2, .g-heading-v7 .h2:after {
    content: "";
    display: inline-block;
    height: 0.1em;
    background: #fe6466;
    position: absolute;
    left: 7em;
    bottom: 0;
}
#workprocess, .why-we-item--light p{
    margin-bottom: 15px;!important;
    color: #3e3a3f;

}
#workprocess, .why-we-item--light ul{
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 1em;
    margin-top: -2em;
    padding-bottom: 1em;
    margin-right: -11em;
    padding-top: 1em;
}
#workprocess, .why-we-item--light li{
    margin-bottom: 15px;!important;
    color: #625c64;
}

#workprocess, .why-we-item--light{
   background-image: url("../img/551.jpg");
    background-size: 54em;
    height: 100%
}
#Testimonials{
    height: 7em;
    background: #3E606F!important;
}
#workprocess, .why-we-item--dark{
    color: #fff;
    background: #193441;
    height: 36em;
}
#Testimonials .why-we-item--dark{
    background: #3E606F;
}
#workprocess, .why-we-item--dark .g-display-table {
    padding: 0px 0px 35px 70px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.38);
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.chess-about-us-item--dark{
    background: #193441;
}
.chess-about-us-item--1 {
    background: #3E606F;
}
.chess-about-us-item--4 {
    background: #3E606F;
}
.v-tab-content:after{
    background: #3E606F;
}
.why-we-item--dark .g-display-table:hover{
    background: #3E606F;
}

.img{
    overflow: hidden;
    height: 20em;

}
.g-mb-30 img{
    width: 100%;
}
.textin{
    margin-top: 2em;
}
.fundo{
    background-image: url("../img/servicos/5.jpg");
    height: 48em;
}
.letra{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    margin-top: 0em;
    padding-bottom: 2em;
    padding-top: 1em;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(62, 96, 111, 0.39);
}
.contacts-v4-info--dark{
    background: #193441!important;
}
i.num-icon-v2{
    border: 4px solid #193441;
}
.contacts-v4-info{
    background: #3E606F;
}
.botao{
color: #383339;
font: 13px/13px 'Myriad Pro';
text-transform: uppercase;
padding: 12px 25px;
border-radius: 5px;
background-color: rgba(205, 203, 209, 0.15);
border: 1px solid rgba(85, 85, 85, 0.32);
margin-top: 30px;
display: inline-block;
}

.botao:hover span[data-hover] {
    transform: translate3d(0, -15%, 0);
    font-weight: bold;
    color: #383339;
    position: relative;
    display: inline-block;
    transition: transform .4s;
}
.g-section-bg-gray {
    background: #304a56;
}
.v-tab-content {
    background: #3E606F;
    position: relative;
    color: #b6b0b7;
    padding: 80px 0 50px;
}
.pading{
    padding-top: 5px;
    padding-bottom: 5px;
}
.pading80{
    padding-top: 80px;
    padding-bottom: 40px;
}
.pading10 {
    padding-top: 10px;
    padding-bottom: 5px;
}
.g-heading-v7 .h2 .block-name {
    font-size: 20px;
    font-style: normal;
    display: block;
    color: #fe6466;
    margin-bottom: 20px;
}
#promo , a{
    color: rgba(255, 255, 255, 1.00);
}
#promo , a:hover{
    color: rgba(255, 255, 255, 1.00);
}
.logoHeader{
    width: auto !important;
    height: 4em;
    float: left;
}
.logo{
    font-size: 20px;
    float: left;
    padding-left: 0.5em;
}
.one-page-header .navbar-nav {
    padding: 0;
    position: relative;
    top: 2em;
}
.why-we-item--dark h4 {
    color: #fff;
}
